:host {
    .app-wrapper {
        background-color: #312b34;
        height: 100%;
        font-family: 'Amazon Ember', sans-serif;
    }
}

mat-button {
    color: white;
}

.mat-mdc-card-actions {
    color: white;
}