// Define variables for colors and font sizes
:host {
    .sign-up {
        &-header {
            margin-bottom: 1rem;
        }

        &-actions {
            padding-left: 1rem;
            padding-bottom: 1rem;
        }
    }
}